{% include 'components/admin/base_admin.html.twig' %}
{% include 'components/admin/nav_admin.html.twig' %}
{% include 'components/admin/body_header.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('user_index') }}">back to list</a>
{% endblock %}

{% include 'components/admin/footer_admin.html.twig' %}


