{% include 'components/admin/base_admin.html.twig' %}
{% include 'components/admin/nav_admin.html.twig' %}
{% include 'components/admin/body_header.html.twig' %}

{% block title %}Edit Order{% endblock %}
<h1>Edit Order</h1>
{{ include('admin/order/_form.html.twig', {'button_label': 'Update'}) }}
<a class="btn btn-primary" href="{{ path('order_index') }}">back to list</a>
{% include 'components/admin/footer_admin.html.twig' %}