{% extends 'base.html.twig' %}

{% block title %}{{parent()}}New Dish{% endblock %}

{% block body %}
    <h1>Create new Dish</h1>

    {{ include('restorer/dish/_form.html.twig') }}

    <a href="{{ path('restorer_dish_index') }}">back to list</a>
{% endblock %}
