{% extends 'base.html.twig' %}

{% block title %}{{parent()}}New Restaurant{% endblock %}

{% block body %}
    <h1>Create new Restaurant</h1>
    {{ include('security/restaurant/_form.html.twig') }}
{% endblock %}
