{% extends 'base.html.twig' %}

{% block title %}My profile
{% endblock %}

{% block body %}
	<h1>My profile</h1>
	{{include('/user/account/_form.html.twig', {'button_label': 'Update'})}}
	{% if 'ROLE_ADMIN' in app.user.roles %}
		<a class="btn btn-primary" href="{{ path('admin_stat') }}">back to list</a>
	{% endif %}
{% endblock %}

