{% extends 'base.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}
    <h1>Edit Restaurant</h1>

    {{ include('restorer/restaurant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_restaurant_show') }}">back my restaurant</a>
{% endblock %}
