{% block body %}
	{% apply inline_css %}
		<style>
			.dish {
				border: solid;
				border-radius: 5px;
				border-width: thin;
				margin: 8px;
			}
			.dishDescription {
				margin-left: 8px;
			}
		</style>
	<div class="dish">
		<p class="dishDescription">{{ orderDish.quantity }} {{ orderDish.dish.name }}</p>
		<p class="dishDescription">for {{ orderDish.dish.price }}€ individually</p>
	</div>
	{% endapply %}
{% endblock %}
